h1 {
  color: red;
}
#mainParagraph {
  color: yellow;
  background-color: green;
}

.vegetables {
  color: green;
}
.meat {
  color: red;
}
.other {
}

.keypoint {
  font-family: 'Staatliches', cursive;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
body {
  font-size: 16px;
}
h1 {
  /* inherits the size of a parent - same */
  /*font-size: 1em;*/

  /* its double the size of a parent */
  font-size: 2em;

}
#box1 {
  background-color: yellow;
  /* border width is also added in total width */
  border: 2px solid black;
  width: 200px;
  height: 100px;
  /* padding gets added to total width */
  padding: 20px;
  margin: 20px auto 20px auto;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}
#box2 {
  background-color: red;
  /* border width is also added in total width */
  border: 2px solid black;
  width: 100px;
  height: 50px;
  /* padding gets added to total width */
  padding: 20px;
  margin: 20px;
}
